@import "tailwindcss";

:root {
  --blanco: #fefefe;
  --fondo: #fbfbfb;
  --texto: #003d4c;
  --azul-oscuro: #004656;
  --truquesa: #0083af;
  --celeste: #00b9ff;
  --naranja: #f15a2e;
}

@theme inline {
  --color-blanco: var(--blanco);
  --color-fondo: var(--fondo);
  --font-display: var(--font-figtree);
  --color-texto: var(--texto);
  --color-azul-oscuro: var(--azul-oscuro);
  --color-truquesa: var(--truquesa);
  --color-celeste: var(--celeste);
  --color-naranja: var(--naranja);
  --font-sans: var(--font-manrope);
}

body {
  background: var(--fondo);
  color: var(--texto);
  font-family: var(--font-manrope), sans-serif;
}

.btn {
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease,
    color 0.2s ease;
}

.btn:hover {
  background: var(--celeste);
  border-color: var(--celeste);
  color: #fff;
}

.btn:hover svg path {
  stroke: #fff;
}

.btn:hover img {
  filter: brightness(0) invert(1);
}
